In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics

pd.set_option("display.max_columns", None)

order_details = pd.read_csv(r'C:\Users\turner.oluwabusayomi\Downloads\CSV\order details.csv', encoding="latin1")
order = pd.read_csv(r'C:\Users\turner.oluwabusayomi\Downloads\CSV\orders.csv', encoding="latin1")
pizzas = pd.read_csv(r'C:\Users\turner.oluwabusayomi\Downloads\CSV\pizzas.csv', encoding="latin1")
pizza_types = pd.read_csv(r'C:\Users\turner.oluwabusayomi\Downloads\pizza_type.csv', encoding="latin1")

df = order_details.merge(order, on="order_id") \
                  .merge(pizzas, on="pizza_id") \
                  .merge(pizza_types, on="pizza_type_id")

df.head()

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients
0,1,1,hawaiian_m,1,1/1/2015,11:38:36,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2,classic_dlx_m,1,1/1/2015,11:57:40,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,4,2,ital_supr_l,1,1/1/2015,11:57:40,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,5,2,mexicana_m,1,1/1/2015,11:57:40,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   date              48620 non-null  object
 5   time              48620 non-null  object
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.5+ MB

In [74]:
df.isna().sum() #to check for null value

order_details_id    0
order_id            0
pizza_id            0
quantity            0
date                0
time                0
pizza_type_id       0
size                0
price               0
name                0
category            0
ingredients         0
dtype: int64

In [75]:
df.shape

(48620, 12)

In [52]:
df['price'].sum() # total revenue

np.float64(801944.7)

In [76]:
df['quantity'].sum() #total quantity sold

np.int64(49574)

In [77]:
df['order_id'].nunique() #total orders

21350

In [78]:
df['pizza_type_id'].nunique() #number of pizza they sell

32

In [79]:
df['price'].mean() #average price of pizzas

np.float64(16.494132044426163)

In [80]:
df['time'] = pd.to_datetime(df['time'], errors='coerce') #to convert time to datetime

C:\Users\turner.oluwabusayomi\AppData\Local\Temp\ipykernel_27364\3371504713.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['time'] = pd.to_datetime(df['time'], errors='coerce') #to convert time to datetime

In [81]:
df['time']

0       2026-02-19 11:38:36
1       2026-02-19 11:57:40
2       2026-02-19 11:57:40
3       2026-02-19 11:57:40
4       2026-02-19 11:57:40
                ...
48615   2026-02-19 21:23:10
48616   2026-02-19 21:23:10
48617   2026-02-19 21:23:10
48618   2026-02-19 22:09:54
48619   2026-02-19 23:02:05
Name: time, Length: 48620, dtype: datetime64[ns]

In [82]:
df = df.dropna(subset=['time']) #drop rows with invalid dates

In [83]:
df

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients
0,1,1,hawaiian_m,1,1/1/2015,2026-02-19 11:38:36,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2,classic_dlx_m,1,1/1/2015,2026-02-19 11:57:40,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,3,2,five_cheese_l,1,1/1/2015,2026-02-19 11:57:40,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,4,2,ital_supr_l,1,1/1/2015,2026-02-19 11:57:40,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,5,2,mexicana_m,1,1/1/2015,2026-02-19 11:57:40,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,12/31/2015,2026-02-19 21:23:10,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
48616,48617,21348,four_cheese_l,1,12/31/2015,2026-02-19 21:23:10,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
48617,48618,21348,napolitana_s,1,12/31/2015,2026-02-19 21:23:10,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
48618,48619,21349,mexicana_l,1,12/31/2015,2026-02-19 22:09:54,mexicana,L,20.25,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
48619,48620,21350,bbq_ckn_s,1,12/31/2015,2026-02-19 23:02:05,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."

In [84]:
df.head()

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients
0,1,1,hawaiian_m,1,1/1/2015,2026-02-19 11:38:36,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2,classic_dlx_m,1,1/1/2015,2026-02-19 11:57:40,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,3,2,five_cheese_l,1,1/1/2015,2026-02-19 11:57:40,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,4,2,ital_supr_l,1,1/1/2015,2026-02-19 11:57:40,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,5,2,mexicana_m,1,1/1/2015,2026-02-19 11:57:40,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."

In [85]:
df['hour'] = df['time'].dt.hour #exact hour from datetime

In [86]:
df['hour']

0        11
1        11
2        11
3        11
4        11
         ..
48615    21
48616    21
48617    21
48618    22
48619    23
Name: hour, Length: 48620, dtype: int32

In [87]:
hourly_sales = df.groupby('hour')['price'].sum().reset_index() #group by hour and price

In [88]:
hourly_sales

    hour      price
0      9      83.00
1     10     285.70
2     11   43978.80
3     12  108047.75
4     13  102550.95
5     14   57650.20
6     15   52231.30
7     16   69129.40
8     17   85128.10
9     18   88334.20
10    19   71665.50
11    20   57420.75
12    21   41769.30
13    22   22548.40
14    23    1121.35

In [89]:
peak_hour = hourly_sales.loc[hourly_sales['price'].idxmax()] #find peak hour

In [90]:
peak_hour

hour         12.00
price    108047.75
Name: 3, dtype: float64

In [91]:
import pandas as pd

# Example sales data
data = {
    "date": ["1/1/2025", "1/1/2025", "1/1/2025", "12/31/2025", "12/31/2025"],
    "price": [13.25, 16.00, 18.50, 16.75, 17.95]
}

df = pd.DataFrame(data)

In [92]:
df

         date  price
0    1/1/2025  13.25
1    1/1/2025  16.00
2    1/1/2025  18.50
3  12/31/2025  16.75
4  12/31/2025  17.95

In [93]:
# Convert date column to datetime
df["date"] = pd.to_datetime(df["date"])

In [94]:
df["date"]

0   2025-01-01
1   2025-01-01
2   2025-01-01
3   2025-12-31
4   2025-12-31
Name: date, dtype: datetime64[ns]

In [17]:
# Extract day name
df["day_of_week"] = df["date"].dt.day_name()

In [18]:
df["day_of_week"]

0    Wednesday
1    Wednesday
2    Wednesday
3    Wednesday
4    Wednesday
Name: day_of_week, dtype: object

In [20]:
# Group by day and sum sales
total_sales_per_day = df.groupby("day_of_week")["price"].sum()

In [21]:
# Group by day and sum sales
total_sales_per_day

day_of_week
Wednesday    82.45
Name: price, dtype: float64

In [22]:
# Sort days in correct order
ordered_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
total_sales_per_day = total_sales_per_day.reindex(orp00      vi0ooodered_days).fillna(0)

In [25]:
total_sales_per_day

day_of_week
Monday        0.00
Tuesday       0.00
Wednesday    82.45
Thursday      0.00
Friday        0.00
Saturday      0.00
Sunday        0.00
Name: price, dtype: float64

Wednesday is the best selling day in the week

In [50]:
# Extract Year-Month for grouping

df['year_month'] = df['date'].dt.to_period('M')

df['year_month']

0    2025-01
1    2025-01
2    2025-01
3    2025-12
4    2025-12
Name: year_month, dtype: period[M]

In [53]:
# Group by month and sum sales
monthly_sales = df.groupby('year_month')['price'].sum().reset_index()

monthly_sales

  year_month  price
0    2025-01  47.75
1    2025-12  34.70

In [96]:
Monthly_sales = df.groupby(df['date'].dt.month)['price'].sum()
monthly_sales

  year_month  price
0    2025-01  47.75
1    2025-12  34.70

In [95]:
df['price'] = pd.to_numeric(df['price'], errors='coerce').fillna(0)
df['price']

0    13.25
1    16.00
2    18.50
3    16.75
4    17.95
Name: price, dtype: float64

In [100]:
#Example sales data (could be daily, weekly, etc.)

sales = [13.25, 16.00, 18.50, 20.75, 16.00]

In [104]:
# Calculate the mean (average) sales
mean_sales = statistics.mean(sales)

In [106]:
# Calculate total sales using mean × number of entries
total_sales = mean_sales * len(sales)

In [112]:
total_sales

84.5

In [114]:
# Group by pizza name and sum quantities

pizza_sales = df.groupby("name")["quantity"].sum().reset_index()

In [115]:
pizza_sales

                                          name  quantity
0                   The Barbecue Chicken Pizza      2432
1                           The Big Meat Pizza      1914
2                         The Brie Carre Pizza       490
3                          The Calabrese Pizza       937
4                 The California Chicken Pizza      2370
5                    The Chicken Alfredo Pizza       987
6                      The Chicken Pesto Pizza       973
7                     The Classic Deluxe Pizza      2453
8                        The Five Cheese Pizza      1409
9                        The Four Cheese Pizza      1902
10                             The Greek Pizza      1420
11                      The Green Garden Pizza       997
12                          The Hawaiian Pizza      2422
13                 The Italian Capocollo Pizza      1438
14                   The Italian Supreme Pizza      1884
15                The Italian Vegetables Pizza       981
16                     The Mediterranean Pizza       934
17                          The Mexicana Pizza      1484
18                        The Napolitana Pizza      1464
19                     The Pepper Salami Pizza      1446
20                         The Pepperoni Pizza      2418
21  The Pepperoni, Mushroom, and Peppers Pizza      1359
22            The Prosciutto and Arugula Pizza      1457
23                          The Sicilian Pizza      1938
24                       The Soppressata Pizza       961
25                 The Southwest Chicken Pizza      1917
26                     The Spicy Italian Pizza      1924
27                     The Spinach Pesto Pizza       970
28                   The Spinach Supreme Pizza       950
29                  The Spinach and Feta Pizza      1446
30                      The Thai Chicken Pizza      2371
31           The Vegetables + Vegetables Pizza      1526

In [116]:
# Sort in descending order to get top sellers
top_pizzas = pizza_sales.sort_values(by="quantity", ascending=False)

In [117]:
top_pizzas

                                          name  quantity
7                     The Classic Deluxe Pizza      2453
0                   The Barbecue Chicken Pizza      2432
12                          The Hawaiian Pizza      2422
20                         The Pepperoni Pizza      2418
30                      The Thai Chicken Pizza      2371
4                 The California Chicken Pizza      2370
23                          The Sicilian Pizza      1938
26                     The Spicy Italian Pizza      1924
25                 The Southwest Chicken Pizza      1917
1                           The Big Meat Pizza      1914
9                        The Four Cheese Pizza      1902
14                   The Italian Supreme Pizza      1884
31           The Vegetables + Vegetables Pizza      1526
17                          The Mexicana Pizza      1484
18                        The Napolitana Pizza      1464
22            The Prosciutto and Arugula Pizza      1457
29                  The Spinach and Feta Pizza      1446
19                     The Pepper Salami Pizza      1446
13                 The Italian Capocollo Pizza      1438
10                             The Greek Pizza      1420
8                        The Five Cheese Pizza      1409
21  The Pepperoni, Mushroom, and Peppers Pizza      1359
11                      The Green Garden Pizza       997
5                    The Chicken Alfredo Pizza       987
15                The Italian Vegetables Pizza       981
6                      The Chicken Pesto Pizza       973
27                     The Spinach Pesto Pizza       970
24                       The Soppressata Pizza       961
28                   The Spinach Supreme Pizza       950
3                          The Calabrese Pizza       937
16                     The Mediterranean Pizza       934
2                         The Brie Carre Pizza       490

In [118]:
# Display top N best-selling pizzas (e.g., top 5)
N = 5
print(f"Top {N} Best-Selling Pizzas:")
print(top_pizzas.head(N).to_string(index=False))

Top 5 Best-Selling Pizzas:
                      name  quantity
  The Classic Deluxe Pizza      2453
The Barbecue Chicken Pizza      2432
        The Hawaiian Pizza      2422
       The Pepperoni Pizza      2418
    The Thai Chicken Pizza      2371

In [119]:
# Convert 'date' column to datetime
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [120]:
df['date']

0       2015-01-01
1       2015-01-01
2       2015-01-01
3       2015-01-01
4       2015-01-01
           ...
48615   2015-12-31
48616   2015-12-31
48617   2015-12-31
48618   2015-12-31
48619   2015-12-31
Name: date, Length: 48620, dtype: datetime64[ns]

In [121]:
# Drop rows with invalid dates
df = df.dropna(subset=['date'])

In [122]:
df

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
4,5,2,mexicana_m,1,2015-01-01,11:57:40,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
48616,48617,21348,four_cheese_l,1,2015-12-31,21:23:10,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
48617,48618,21348,napolitana_s,1,2015-12-31,21:23:10,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
48618,48619,21349,mexicana_l,1,2015-12-31,22:09:54,mexicana,L,20.25,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
48619,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."

In [123]:
# Extract Year-Month for grouping
df['year_month'] = df['date'].dt.to_period('M')

In [124]:
df['year_month']

0        2015-01
1        2015-01
2        2015-01
3        2015-01
4        2015-01
          ...
48615    2015-12
48616    2015-12
48617    2015-12
48618    2015-12
48619    2015-12
Name: year_month, Length: 48620, dtype: period[M]

In [126]:
# Group by Year-Month and sum sales
monthly_sales = df.groupby('year_month')['price'].sum().reset_index()

In [127]:
monthly_sales

   year_month     price
0     2015-01  68472.70
1     2015-02  64067.40
2     2015-03  69198.00
3     2015-04  67286.20
4     2015-05  69939.35
5     2015-06  66796.30
6     2015-07  71027.45
7     2015-08  67068.80
8     2015-09  63018.00
9     2015-10  62566.50
10    2015-11  69054.00
11    2015-12  63450.00

In [138]:
pizza_type_id = df["pizza_type_id"]

pizza_type_id

0           hawaiian
1        classic_dlx
2        five_cheese
3          ital_supr
4           mexicana
            ...
48615    ckn_alfredo
48616    four_cheese
48617     napolitana
48618       mexicana
48619        bbq_ckn
Name: pizza_type_id, Length: 48620, dtype: object

In [142]:
# Sort in descending order to get top sellers
pizza_type_not_doing_well = pizza_type_id.sort_values()

In [145]:
pizza_type_not_doing_well

48619       bbq_ckn
14748       bbq_ckn
14744       bbq_ckn
23226       bbq_ckn
4882        bbq_ckn
            ...
14634    veggie_veg
39392    veggie_veg
23409    veggie_veg
23356    veggie_veg
8883     veggie_veg
Name: pizza_type_id, Length: 48620, dtype: object

In [147]:
poor_performers = df.groupby('pizza_type_id')['quantity'].sum().sort_values()

In [148]:
poor_performers

pizza_type_id
brie_carre       490
mediterraneo     934
calabrese        937
spinach_supr     950
soppressata      961
spin_pesto       970
ckn_pesto        973
ital_veggie      981
ckn_alfredo      987
green_garden     997
pep_msh_pep     1359
five_cheese     1409
the_greek       1420
ital_cpcllo     1438
peppr_salami    1446
spinach_fet     1446
prsc_argla      1457
napolitana      1464
mexicana        1484
veggie_veg      1526
ital_supr       1884
four_cheese     1902
big_meat        1914
southw_ckn      1917
spicy_ital      1924
sicilian        1938
cali_ckn        2370
thai_ckn        2371
pepperoni       2418
hawaiian        2422
bbq_ckn         2432
classic_dlx     2453
Name: quantity, dtype: int64